@charset "ISO-8859-1";


.logo{
	
	width:9%;
	position:absolute;
	top:7px;
}	

.user-detials-img{
	
	float:left;
}

.user-detials{
	
	float:left;
}

.user-detials input[type=text]{
	
	margin:5px 0 0 13px;
	width:45%;
	
}



.drop-down{
	position: relative;
	display: inline-block;
}

.drop-down-cont{
	position: absolute;
	display: none;
	min-width: 130px;
	background-color: #FBFBFB;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;


}


.drop-down-cont a{

	text-decoration: none;
	color: black;
	display: block;
	padding: 10px;

}

.drop-down:hover .drop-down-cont{

	
	display: block;



}

.drop-down-cont input[type=submit]{
	
	width: 100%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.drop-down-cont input[type=submit]:hover{
	
	background-color:#005A01;
	color:white;
}

.drop-down-cont a:hover{
	color:white;
	
}