@charset "ISO-8859-1";

body{
	
	font-family: 'Poppins', sans-serif;
	
}

input[type=text],input[number]{
	width: 40%;;
	height: 6px;
	margin:15px 0 15px 0;
	display: inline-block;
	outline: none;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}


.inpute-field{
	float:left;
	width:30%;
	margin:10px 20px 5px 20px;
}

input[type=submit],button{
  width: 20%;
  background-color: #00a6e7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]{
	width: 20%;
  background-color: #00a6e7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	
}


button:hover{
	background-color:#005A01;
}

.item-table input[type=submit]{
  width: 30%;
  background-color: #00a6e7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover{
	background-color:#005A01;
}


th{


	width: 20%;
	color: white;
	background-color: #005A01;
	padding: 10px;
	border:2px solid white;

}

table{
	width: 100%;
	border-collapse: collapse;
	

}


.item-table{
	width: 100%;
	margin:20px 0px 20px 0px;
}


table p{

font-size:12px; 


}


tr:nth-child(even){

	border:none;
	background-color: lightgrey;
}


td{
	padding: 5px;
	text-align:center;
}
